

h1, h2 {
  text-align: center;
  color: white;
}

h2:hover {
  color: yellow;
}

.links_wrapper {
    margin:auto;
    text-align:center;
}
.link {
    display:inline-block;
    margin-right: 25px;
}

li {
  color: white;
  text-decoration: none;
}

.apic {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 22%;
}

p {
  font-style: italic;
  color: white;

}
